.bg-galeria {
    background-image: url(../assets/img/tomates.jpg);
    opacity: 1;
    background-attachment: fixed;
    background-position: $centro;
    background-repeat: $norep;
    background-size: $cubrir; 
}