@media (min-width: 992px) { 
    .fotocarrusel {
        width: map-get($sizes,100);
    }
}
@media (max-width: 576px) {
    header { 
        nav {
            div {
                img {
                    width: map-get($sizes,50)}
                    .fotocarrusel {
                        width: 50rem;
                        height: auto;
                    } } 
                }
            }
        }

    
